<!DOCTYPE html>
{% extends "halprofil/layout/base.html" %}
{% block content %}

<style>
	.grow{
		 transition: all .3s ease-in-out;
	}
	.grow:hover{
		 transform: scale(1.1); 
	}
</style>

<body style = "margin-top : 70px">
	<h1 style="color: #caccde ">Profile</h1>

	<img class = "img-responsive center-block grow grow:hover" style="border-radius : 50%" src="https://koreaboo.global.ssl.fastly.net/wp-content/uploads/2017/06/WBB-texting.jpg" alt="myself" height="150px" width="150px">

	</br>

	<h2 style="color:  #caccde" align ="center">{{name}}</h2>

	</br>

	<table class = "center-block" style=" width:35% ; margin : 0px auto">
		<style>
			table, th, td{
				text-align: center;
				color:  #caccde 
			}
			th{
				height: 35px;
				width:30%;
			}
			td{
				height: 35px;
			}
			tr:hover{
				background-color:  #7a7ea2 ;
				height: 50px;
			}
		</style>
		<tr class = "grow grow:hover">
			<th>Birthday</th>
			<td>{{birthday}}</td>
		</tr>
		<tr class = "grow grow:hover">
			<th>Gender</th>
			<td>{{gender}}</td>
		</tr>
		<tr class = "grow grow:hover">
			<th>Expertise</th>
			<td>{{expertise}}</td>
		</tr>
		<tr class = "grow grow:hover">
			<th>Description</th>
			<td>{{description}}</td>
		</tr>
		<tr class = "grow grow:hover">
			<th>Email</th>
			<td>{{email}}</td>
		</tr>
	</table>




	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	 <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	 </script>
</body>

{% endblock %}