{% extends "friend_list/layout/base.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Friends</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_friend.css' %}" />
</head>
<body class="friend-body">
</section>
<hr/>
<<section name="input-friend" id="input-friend">
    <div class="container">
        <form id="form" method="POST" action="{% url 'add_friend:add_friend' %}">
            <h2>Add Friend</h2>
            {% csrf_token %}
            {{ friend_form }}
            <br>
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Add Friend">
        </form>
    </div>
</section>

<section name="friend" id="friend">
    <div class="container">
    <br>
    <hr style="color: #d2ff7f">
    <h2 class="friend-title">Friends</h2>
    <hr style="color: #d2ff7f">
    <br>
      <div class="card-body">
        {% for i in friend %}
            <div class="card" style="width: 20rem;">
            <center><img class="card-img-top" src="{% static 'images/friend_icon.png' %}" alt="Card image cap" style="width: 100px; height: 100px;"></center>
            <center><h4 id="name-friend">{{i.name}}</h4></center>
            <center><p class="added-friend"> Added on {{i.created_date}}</p></center>
            <center><a href="{{ i.url }}"> {{i.url}} </a></td></center>
            <br>
          </div>
        {% endfor %}
      </div>
    </div>
</section>

<!-- Print errors if any -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <!-- List all previous status -->
    <div class="container stasuses">
        {% for i in status reversed %}
            <div class="flex-item">
                <h5> {{ i.user.name }} </h5>
                {{ i.friend }} <br/>
                <sub> {{ i.date }} </sub>
            </div>
        {% endfor %}
    </div>
</body>
{% endblock %}