
/* styling form */
#input-friend form{
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
	z-index: 1;
	background: #d2ff7f;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	position: relative;
}
/* styling judul form, apakah arti dari tanda '>' ? */
#input-friend form > h2{
	font-size: 1.3em;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
/* styling form input dan textarea, apakah arti dari tanda ',' ? */
#input-friend form > .todo-form-input, #input-list form > .todo-form-textarea{
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}

#input-friend:hover {
  top: -5px;
  -webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
}

#friend{
  min-height: 600px;
}

#friend .friend-title{
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
  text-shadow: 3px 3px 0 #eeff4b, -1px -1px 0  #eeff4b, 1px -1px 0  #eeff4b, -1px 1px 0  #eeff4b, 1px 1px 0  #eeff4b;
  text-align: center;
}
#friend:hover {
  top: -5px;
  -webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
}
.card-body{
  enable-flex: true;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: center;
  align-self: center;
  margin-bottom: 30px;
  
}
.card-body .card {
  display: block;
  align-self: center;
  flex-basis: 25%;
}
.card {
    background: #d2ff7f;
    margin-top: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-right: 20px;
    margin-left: 20px;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

#name-friend {
  padding-top: 10px;
}

#added-friend {
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 20px;
}


.flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}
/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 768px) {
  .flex-item{
    padding: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    border: solid 1px #EFEFEF;
  }
  #input-list form {
      width: 290px;
  }
}
