<style>
  .navbar-static-top {
    background-color: white;
    position: fixed;
    margin-bottom: 19px;
  }
  .navbar-default .navbar-nav>li>a {
    cursor: pointer;
  }
</style>

<nav style="background-color: #f3eff0" class = "navbar-fixed-top navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-move" href='/status/'>Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a class = "navbar-move" href='/profile/'>Profile</a></li>
        <li><a class = "navbar-move" href='/friends/'>Friends</a> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
