{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Tugas 1 PPW">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    

    <title> 
        {% block title %}Home{% endblock %}
    </title>
    <style>
    body{
        background: #15384f;
    }
    </style>
</head>
<body>
    <div class="background">
        <header>
            {% include "halprofil/partials/header.html" %}
        </header>
        <content>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>

        </content>
        <footer>
            {% block footer %}
            {% include "halprofil/partials/footer.html" %}
            {% endblock %}
        </footer>

        <!-- Jquery n Bootstrap Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </div>
</body>