{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<body style="background-color :  #450a21">
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link">Home</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/friends/">Friends</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile/">Profile</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
</body>