{% extends "update_status/layout/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href={%static "/css/update_status.css" %}>
{% endblock %}

{% block content %}
<h1 class="main-title">STATUS</h1>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'status:add_status' %}">
            <h2 style="color:white;">Update Status</h2>
            {% csrf_token %}
            {{ status_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-primary pull-right btn-info" value="Post">
            <br>
        </form>
    </div>
</section>

<section name="my-list" id="my-list">
    <div class="container">
		<h2 class="page-header" style="color:white;">Status</h2>
		<div class="flex">
            {% if status %}
                {% for data in status reversed %}
				<figure class='thumbnail'>
					<table>
						<tr>
							<td>
								<h3>Hepzibah Smith</h3>
								<img class = "scaled" align="top-left" style="border-radius : 50%" src="https://koreaboo.global.ssl.fastly.net/wp-content/uploads/2017/06/WBB-texting.jpg" alt="myself" height="150px" width="150px">					
							</td>
							<td>
								<div class="flex-item">
									<div class="to-do-list">
										<div class="to-do-list-status">
											{{data.status}}
										</div>
										<div class="to-do-list-date-added">
											{{data.date}}
										</div>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</figure>
                {% endfor %}
            {% else %}
			<figure class='thumbnail'>
            <div class="alert text-center">
                Belum ada status.
            </div>
			</figure>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
